.title-label {
    -fx-font-size: 150px; /* Large font size */
    -fx-font-weight: bold; /* Bold text */
    -fx-text-fill: white; /* White text color */
    -fx-padding: 20px; /* Padding around the text */
    -fx-effect: dropshadow(gaussian, #000000, 10, 0.5, 1, 1); /* Shadow effect */
}

.button {
    -fx-background-color: #A7D8DD; /* Green background */
    -fx-text-fill: white;           /* White text */
    -fx-font-size: 18px;            /* Increase font size */
    -fx-font-weight: bold;
    -fx-padding: 15px 30px;         /* Add padding around the text */
    -fx-border-radius: 10px;       /* Rounded corners */
    -fx-background-radius: 10px;    /* Rounded background */
    -fx-font-family: "Arial", sans-serif;
    -fx-effect: dropshadow(gaussian, #000000, 10, 0.5, 1, 1); /* Shadow effect */
}

.toggle {
    -fx-background-color: #A7D8DD;
    -fx-text-fill: white;
    -fx-font-size: 18px;            /* Increase font size */
    -fx-font-weight: bold;
    -fx-padding: 15px 30px;         /* Add padding around the text */
    -fx-border-radius: 10px;       /* Rounded corners */
    -fx-background-radius: 10px;    /* Rounded background */
    -fx-font-family: "Arial", sans-serif;
    -fx-effect: dropshadow(gaussian, #000000, 10, 0.5, 1, 1); /* Shadow effect */
}

.toggle:hover {
    -fx-font-size: 14px;
    -fx-background-color: #68A0AF; /* Darker green on hover */
    -fx-effect: dropshadow(gaussian, #000000, 15, 0.5, 1, 1); /* Stronger shadow on hover */
}

.button:hover {
    -fx-font-size: 14px;
    -fx-background-color: #68A0AF; /* Darker green on hover */
    -fx-effect: dropshadow(gaussian, #000000, 15, 0.5, 1, 1); /* Stronger shadow on hover */
}

.button:pressed {
    -fx-background-color: #727E86; /* Even darker green when pressed */

}

.layout {
    -fx-alignment: center;
    -fx-padding: 50;
    -fx-font-size: 16;
}

.popup-layout {
    -fx-alignment: center;
    -fx-padding: 20;
}

/* Style for the Volume Slider */
.slider {
    -fx-pref-width: 200px;
    -fx-show-tick-marks: true;
    -fx-show-tick-labels: true;
    -fx-major-tick-unit: 0.1;
    -fx-minor-tick-count: 5;
}
