/* Title Style */
.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #f1c40f;
    -fx-alignment: center;
}

/* Toggle Button Style */
.toggle {
    -fx-background-color: #A7D8DD;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

/* Button Style */
.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: #2980b9;
}
